* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#title {
  color: white;
  text-align: center;
  font-size: 60px;
}
.App {
  width: 100%;
  height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(36, 45, 50, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  border-radius: 30px;
  border: 1px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1500px;
  height: 800px;
  background-color: rgba(8, 1, 5, 0.658);
}
#selecting {
  margin: 20px;
  width: 100px;
  display: inline-block;
}
#url {
  border-radius: 30px;
  padding: 10px;
}
#submit {
  border-radius: 30px;
  padding: 10px;
}
.request {
  top: 70px;
  left: 50px;
  position: absolute;
  width: 1400px;
  height: 700px;
  background-color: white;
  border-radius: 30px;
}
